<div class="max-w-4xl mx-auto px-4">
  <h1 class="text-3xl font-bold mb-4">Articles</h1>
  <% unless @articles.empty? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% @articles.each do |article| %>
        <%= link_to article, class: "block  bg-white shadow-lg p-6 text-center text hover:bg-gray-100" do %>
          <p class="text-blue-500 hover:text-blue-600 text-lg">
            <%= article.title %>
          </p class="text-sm">
          By <%= article.user.name.capitalize%>
          <div class="text-gray-500 text-xs">
            Posted: <%= time_ago_in_words(article.created_at) %> ago<br>
            <% if article.archived? %>(Archived)<% end %>
            <% if article.private? %>(Private)<% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <p>Showing <%= @articles.count %> out of <%= @total_articles%> articles </p>
  <% else %>
    <p>Our blog has <%= @articles.count %> articles :(</p>
  <% end %>
  <%== pagy_nav(@pagy) %>
</div>