<div class="px-3 w-4/5">
  <h1 class="text-2xl "><%= @article.title %></h1>
  <p>Wrtitten by <%=@article.user.name.capitalize%></p>
  <p><%= @article.body %></p>
  <ul class="flex justify-start space-x-4">
    <li class=" rounded-md bg-blue-600 mt-2 px-1 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"><%= link_to "Edit", edit_article_path(@article)%></li>
    <li class=" rounded-md bg-red-600 mt-2 px-1 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"><%= link_to "Delete", article_path(@article), data:{
        turbo_method: :delete,
        turbo_confirm: :"Are you sure?"
    }
    %>
    </li>
    <li><%= render 'shared/back_button', back_path: root_path%></li>
  </ul>
</div>
<div class="w-1/5 px-3 divide-y" >
  <div>
    <h2 class="text-2xl ">Comments</h2>
    <%unless @article.comments.count<1%>
      <%= render policy_scope(@article.comments)%>
    <% else%>
      <p>No comments yet</p>
    <%end%>
  </div>
  <div class="mt-2">
    <h2>Add a comment:</h2>
    <%= render 'comments/form'%>
  </div>
</div>