<div class= "flex  items-center flex-col mx-10">
  <%if current_user==@user%>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white">My Profile</p>
  <%end%>
  <div class=" w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-2">
    <div class="flex justify-end px-4 pt-4">
      <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
        <span class="sr-only">Open dropdown</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
          <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2" aria-labelledby="dropdownButton">
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center pb-10 px-5">
      <%= image_tag 'user-svgrepo-com.svg', alt: 'User Icon', class:"w-20 h-20" %>
      <h1 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><%=@user.name.capitalize%></h1>
      <span class="text-sm text-gray-500 dark:text-gray-400">Joined <%= @user.created_at.strftime("%b. %e, %Y") %></span>
      <div class="flex mt-3 md:mt-5">
        <p class="text-gray-900 dark:text-white text-center">This is a placeholder bio.</p>
      </div>
    </div>
  </div>
  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
      <li class="me-2" role="presentation">
        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="articles-tab" data-tabs-target="#articles" type="button" role="tab" aria-controls="comments" aria-selected="false">Articles</button>
      </li>
      <li class="me-2" role="presentation">
        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="comments-tab" data-tabs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button>
      </li>
    </ul>
  </div>
  <div id="default-tab-content">
    <div class="hidden w-full" id="articles" role="tabpanel" aria-labelledby="articles-tab">
      <%= render 'articles/list', articles:@articles %>
    </div>
    <div class="hidden w-full" id="comments" role="tabpanel" aria-labelledby="comments-tab">
      <div class="grid gap-8 lg:grid-cols-2 mb-5">
        <% @comments_by_article.each do |article, comments|%>
        <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
          <%=link_to article.title, article_path(article) ,class:"hover:underline mb-1 text-xl font-medium text-gray-900 dark:text-white"%>
          <%if comments.any?%>
            <% comments.each do |comment|%>
              <%= render 'comments/comment', comment:comment%>
            <%end%>
          <% else%>
            <p>This user has not made any comments yet.</p>
          <%end%>
          </article>
        <%end%>
      </div>
      <%== pagy_nav(@pagy_comment) if @pagy_comment.pages > 1 %>
    </div>
  </div>
</div>
